{{>layout/header}}
<h2>Register Contents</h2>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Please Insert Title">
            </div>


        </form>
    </div>

</div>

{{>layout/footer}}